<style>
  #menu-drawer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: min(500px, 100%);
    height: calc(100vh - var(--header-height));
    transform: translateX(-100%);
    z-index: 9999;
    transition: 300ms ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(20px);
    background: #000000bd;
  }
  #header-drawer #menu-drawer.drawer-open {
    transform: translateX(0);
  }
  #main-header .header-drawer_icons svg {
    width: 20px;
  }
  #header-drawer .header-drawer_icons.drawer-open svg.icon-menu,
  #header-drawer .header-drawer_icons:not(.drawer-open) svg.icon-close {
    display: none;
  }
  #menu-drawer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
  }
  #menu-drawer li {
    width: 100%;
    overflow: hidden;
  }
  #menu-drawer a,
  #menu-drawer .menu-toggle {
    display: flex;
    gap: 10px;
    font-size: 15px;
    line-height: 1.5;
    padding: 12px 18px;
    border-bottom: 1px solid rgb(var(--color-foreground), 0.2);
    text-decoration: none;
    width: 100%;
  }
  .menu-drawer_action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-top: 1px solid rgb(var(--color-foreground), 0.2);
    padding: 15px 20px;
  }
  .menu-drawer_action a {
    border: 0 !important;
    justify-content: flex-end;
  }
  .menu-drawer_localization {
    display: flex;
  }
  .menu-drawer_localization .localization-wrapper {
    position: relative;
    padding: 12px 6px;
    border: 1px solid rgb(var(--color-foreground), 0.2);
    margin-right: 10px;
  }
  .menu-drawer_localization .localization-list {
    top: unset;
    left: -1px;
    bottom: 100%;
    width: 100%;
    box-shadow: none;
    border: 1px solid rgb(var(--color-foreground), 0.2);
  }
</style>

<div
  id="header-drawer"
  x-data="{ drawerOpen: false }"
  @click.outside="drawerOpen = false"
>
  <button
    class="header-drawer_icons"
    @click="drawerOpen = !drawerOpen"
    :class="{ 'drawer-open': drawerOpen }"
  >
    {{- 'icon-menu.svg' | inline_asset_content -}}
  </button>
  <div
    x-data="{ currentMenu: 'main' }"
    id="menu-drawer"
    class="color-{{ section.settings.menu_color_scheme }} gradient text-white"
    :class="{ 'drawer-open': drawerOpen }"
  >
    <!-- Main Menu -->
    <ul class="nav-dropdown" x-show="currentMenu === 'main'" x-transition>
      <li class="px-2">
        <button
          @click="drawerOpen = !drawerOpen"
          :class="{ 'drawer-open': drawerOpen }"
          class="px-[18px] py-[12px] font-bold text-white text-[13px] flex justify-end !w-full"
        >
          {{ 'icon-close.svg' | inline_asset_content }}
        </button>
      </li>

      {% for item in section.settings.menu.links %}
        <li class="nav-dropdown">
          {% if item.links != blank %}
            <a
              href="javascript:void(0);"
              @click="currentMenu = 'submenu-{{ forloop.index }}'"
              class="menu-link flex items-center justify-between"
            >
              {{- item.title }}
              <div class="h-8 w-8 transform -rotate-85">
                {{ 'icon-caret.svg' | inline_asset_content }}
              </div>
            </a>
          {% else %}
            <a href="{{ item.url }}">{{ item.title }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    <!-- Submenus -->
    {% for item in section.settings.menu.links %}
      {% if item.links != blank %}
        <ul x-show="currentMenu === 'submenu-{{ forloop.index }}'" class="nav-dropdown" x-transition>
          <li class="!grid !grid-cols-3 items-center p-2 mb-2">
            <button class="px-2 flex items-center justify-start text-[12px]" @click="currentMenu = 'main'">
              <div class="h-6 w-6 text-[12px] transform rotate-85 text-white">
                {{ 'icon-caret.svg' | inline_asset_content }}
              </div>
              <span class="uppercase text-[12px] pl-2"> Back </span>
            </button>

            <div class="font-bold text-[1.5em] text-center text-[18px]">{{ item.title }}</div>
            <button
              @click="drawerOpen = !drawerOpen"
              :class="{ 'drawer-open': drawerOpen }"
              class="flex justify-end items-center text-white text-[12px] w-full"
            >
              {{ 'icon-close.svg' | inline_asset_content }}
            </button>
          </li>
          {% for subitem in item.links %}
            <li class="nav-dropdown">
              <a href="{{ subitem.url }}">{{ subitem.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </div>
</div>
