{% comment %}
  Renders a product card with optional variant swatches

  Accepts:
  - card_product: {Object} Product Liquid object (required)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - enable_swatches: {Boolean} Enable variant swatches display
  - swatch_trigger: {String} Product option name to use for swatches (e.g., 'Color')
  - swatch_type: {String} Type of swatch to display ('color' or 'image')
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" "adapt" and "portrait". Default is "adapt" (optional)

  Example usage:
  {% render 'card-product',
    card_product: product,
    show_vendor: section.settings.show_vendor,
    enable_swatches: section.settings.enable_swatches,
    swatch_trigger: section.settings.swatch_trigger,
    swatch_type: section.settings.swatch_type,
    media_aspect_ratio: section.settings.media_aspect_ratio
  %}
{% endcomment %}

{%- liquid
  assign ratio = 1
  if card_product.featured_media and media_aspect_ratio == 'portrait'
    assign ratio = 0.8
  elsif card_product.featured_media and media_aspect_ratio == 'adapt'
    assign ratio = card_product.featured_media.aspect_ratio
  endif
  if ratio == 0 or ratio == null
    assign ratio = 1
  endif
-%}

<product-card
  class="product-card card--{{ settings.card_style }}{% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }}{% endif %}"
  data-product-id="{{ card_product.id }}"
>
  <div class="product-card-child">
    <a
      href="{{ card_product.url }}"
      class="card-media"
      style="--media-ratio: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div class="card-media-child">
        {{
          card_product.featured_image
          | image_url: width: card_product.featured_image.width
          | image_tag:
            width: card_product.featured_image.width,
            height: card_product.featured_image.height,
            alt: card_product.featured_media.alt,
            data-product-image: card_product.id
          | escape
        }}
      </div>
      <div class="card-badge-wrapper {{ settings.badge_position }}">
        <div class="card__badge {{ settings.badge_position }}">
          {%- if card_product.available == false -%}
            <span
              class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}"
            >
              {{- 'products.product.sold_out' | t -}}
            </span>
          {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
            <span
              class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}"
            >
              {{- 'products.product.on_sale' | t -}}
            </span>
          {%- endif -%}
        </div>
      </div>
    </a>
    <div class="card-information">
      <h2 class="card-heading">
        <a href="{{ card_product.url }}">{{ card_product.title }}</a>
      </h2>
      {% if show_vendor %}
        <span class="card-vendor">{{ card_product.vendor }}</span>
      {% endif %}
      {% if enable_swatches %}
        <div class="product-color-swatches">
          {%- for option in card_product.options_with_values -%}
            {%- if option.name == swatch_trigger -%}
              {%- for value in option.values -%}
                {%- for variant in card_product.variants -%}
                  {%- if variant.options contains value -%}
                    <span
                      class="color-swatch"
                      {%- unless swatch_type == 'image' -%}
                        style="background-color: {{ value | handleize }};"
                      {%- endunless -%}
                      title="{{ value }}"
                      data-variant-id="{{ variant.id }}"
                      data-swatch-color="{{ value | handleize }}"
                    >
                      {%- if swatch_type == 'image' -%}
                        {%- liquid
                          assign variant_image = null
                          if variant.featured_image != null
                            assign variant_image = variant.featured_image
                          else
                            assign variant_image = card_product.featured_image
                          endif
                        -%}
                        {{
                          variant_image
                          | image_url: width: variant_image.width
                          | image_tag:
                            width: variant_image.width,
                            height: variant_image.height,
                            alt: variant_image.alt,
                            class: 'data-variant-image'
                        }}
                      {%- endif -%}
                    </span>
                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endfor -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      {% endif %}
      <div class="card-pricing">
        {% render 'component-product-price', product: card_product, show_compare_at_price: true %}
      </div>
    </div>
  </div>
</product-card>
